@import './styles/font.scss';
@import './styles/colors.scss';

// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: 100%;
  color: $black;
  line-height: $font-height;
  z-index: 0;
}

// typography

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .875rem;
}

h6 {
  font-size: .75rem;
}

p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
}

b {
  font-weight: 700;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}