// colours
$background-color: #FCFCFC;
$primary-color: #068FAB;
$primary-color-1: #BBE0E8;
$primary-color-3: #60B7C9;
$primary-color-7: #045C6D;
$primary-color-9: #02272F;
$red: #FF595E;
$green: #02A27F;
$yellow-dark: #A38125;
$yellow: #FFCA3A;
$orange: #E66337;
$purple: #5E50B5;
$maroon: #692D39;
$neutral-color-1: #F6F6F6;
$neutral-color-2: #DBDBDC;  // disabled
$neutral-color-3: #C1C1C2;  // divider or disabled
$neutral-color-4: #A6A6A7;
$neutral-color-5: #8B8C8D;  // hint
$neutral-color-6: #707173;
$neutral-color-7: #565659;  // less important
$neutral-color-8: #3B3C3E;  
$black: #202124;  // text