// colours
$background-color: #FCFCFC;
$dark-purple: #43425D;
$light-purple: #A3A0FB;
$text-white: #FCFCFC;
$blue: #06a3a3;
$red: #FF595E;
$teal: #389589;
$light-teal: #15b694;
$dark-teal: #004346;
$yellow: #FFCA3A;
$orange: #E66337;
$purple: #5E50B5;
$maroon: #692D39;
$neutral-color-1: #F6F6F6;
$neutral-color-2: #DBDBDC;  // disabled
$neutral-color-3: #C1C1C2;  // divider or disabled
$neutral-color-4: #A6A6A7;
$neutral-color-5: #8B8C8D;  // hint
$neutral-color-6: #707173;
$neutral-color-7: #565659;  // less important
$neutral-color-8: #3B3C3E;  
$black: #202124;  // text